<div class="row m-2">
  <div class="col-sm-12">
    <nb-card>
      <!-- <nb-card-header>Safety Induction
        <input nbInput size="small" type="text" class="form-control form-control" autocomplete="on" placeholder="Search by Name" [(ngModel)]="searchItem" (ngModelChange)="fetchDetails()">
      </nb-card-header> -->
      <nb-card-body>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-hover">
          <thead>
            <tr>
              <th *ngFor="let head of headElements" scope="col">{{head}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let induction of Inductionchecklist; index as i;trackBy: identify">
              <td></td>
              <td>{{ i + 1 }}</td>
              <td>{{induction.date | date: 'shortDate'}}</td>
              <td>{{induction.date | date: 'shortTime'}}</td>
              <td>{{induction.ticket?.ticket_code}}</td>
              <td>{{induction.location?.name}}</td>
              <td>{{induction.activity}}</td>
              <td>{{induction.team_lead?.username}}</td>
              <td>{{induction.safety_officer?.username}}</td>
              <td><li *ngFor="let Item of induction.attendants" style="display:inline-block; margin:5px;"> {{Item.firstname}}{{Item.lastname}}, </li></td>
              <td>{{induction.done_by}}</td>
              <td><nb-icon icon="edit-outline" class="edit" (click)="open(dialog,induction);selectedInductionChecklist(induction.id)"></nb-icon></td>
              <td><nb-icon icon="trash-outline" class="trash" (click)="DeleteInductionChecklist(induction.id)"></nb-icon></td>
            </tr>
          </tbody>
        </table>
      <nb-card-footer class="d-flex justify-content-start">
        Total Count: {{totalCount}}

        <!-- <div class="form-group">
          <nb-select [(selected)]="itemsPerPage" [(ngModel)]="itemsPerPage" (selectedChange)="onChange($event)" placeholder="Select fetched items">
            <nb-option  [value]="25">25</nb-option>
            <nb-option  [value]="50">50</nb-option>
            <nb-option  [value]="100">100</nb-option>
            <nb-option  [value]="100000000">All</nb-option>
          </nb-select>
        </div> -->
      </nb-card-footer>
      </nb-card-body>
    </nb-card>
  </div>
</div>


<ion-content fullscreen>
  <ion-card  *ngFor="let induction of Inductionchecklist; index as i;trackBy: identify">
    <ion-item>
      <ion-label>{{induction.ticket?.ticket_code}}</ion-label>
      <ion-button  (click)="DeleteInductionChecklist(induction.id)">Delete</ion-button>
    </ion-item>

    <ion-card-content (click)="showEdit(induction.id)">
      <ion-list>
        Date:{{induction.date | date: 'shortDate'}}<br>
        Time:{{induction.date | date: 'shortTime'}}<br>
        Name:{{induction.location?.name}}<br>
        Activity:{{induction.activity}}<br>
        Attendants:<li *ngFor="let Item of induction.attendants" style="display:inline-block; margin:5px;"> {{Item.firstname}}{{Item.lastname}}, </li><br>
        Team lead:{{induction.team_lead?.username}}<br>
        Safety officer:{{induction.safety_officer?.username}}<br>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card status="success" style="width: 27em;" size="giant">
    <nb-card-header>Edit Safety Induction
      <a (click)="ref.close();" aria-label="Back" style="float: right;"  id="close-edit">
        <nb-icon icon="close"></nb-icon>
      </a>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="inductionEditForm">

        <div class="form-group">
          <div class="form-group">
            <label class="label" for="inputStartDate">Date Started</label>
            <input type="datetime-local" nbInput fullWidth formControlName="date">
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <ng-autocomplete [data]="Tickets" [searchKeyword]="keywordTicket" (selected)='selectedTicketID($event)'
                           (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocusedTickets($event)' [itemTemplate]="itemTemplateTickets"
                           [notFoundTemplate]="notFoundTemplate"
                           formControlName="ticket"
                           placeholder="Select ticket">
          </ng-autocomplete>

          <ng-template #itemTemplateTickets let-item>
            <a [innerHTML]="item.ticket_code"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>

        <div class="form-group">
          <input
            type="text"
            nbInput
            fullWidth
            placeholder="Activity"
            formControlName="activity">
        </div>
        <div class="form-group d-flex justify-content-between">
          <ng-autocomplete [data]="Locations" [searchKeyword]="keywordLoc" (selected)='selectLoc($event)'
                           (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocusedLoc($event)' [itemTemplate]="itemTemplateLoc"
                           [notFoundTemplate]="notFoundTemplate"
                           placeholder="Select location" formControlName="location">
          </ng-autocomplete>

          <ng-template #itemTemplateLoc let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>

        <div class="form-group d-flex justify-content-between">
          <ng-autocomplete [data]="teamLead" [searchKeyword]="keywordTeamLead" (selected)='selectTeam($event)'
                           (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocusedTeam($event)' [itemTemplate]="itemTemplateTeam"
                           [notFoundTemplate]="notFoundTemplate"
                           placeholder="Team Lead" formControlName="team_lead">
          </ng-autocomplete>

          <ng-template #itemTemplateTeam let-item>
            <a [innerHTML]="item.first_name +''+ item.last_name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
        <div class="form-group d-flex justify-content-between">
          <ng-autocomplete [data]="safetyOfficer" [searchKeyword]="keywordSO" (selected)='selectSO($event)'
                           (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocusedSo($event)' [itemTemplate]="itemTemplateSO"
                           [notFoundTemplate]="notFoundTemplate"
                           placeholder="Safety Officer" formControlName="safety_officer">
          </ng-autocomplete>

          <ng-template #itemTemplateSO let-item>
            <a [innerHTML]="item.first_name +''+ item.last_name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>

        <div class="form-group d-flex justify-content-between">
          <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>Edit Attendants</nb-accordion-item-header>
                <nb-accordion-item-body>
                  <nb-checkbox status="primary" *ngFor="let attend of selectedAttendants" id="inputSelectTeam" (change)="changed($event, attend)" checked="true">{{attend.firstname}} {{attend.lastname}}</nb-checkbox>
                  <nb-checkbox status="primary" *ngFor="let attend of unselectedAttendants" id="inputSelectTeam" (change)="changed($event, attend)">{{attend.firstname}} {{attend.lastname}}</nb-checkbox>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
          <button class="route-btn" nbSuffix nbButton ghost (click)="openAttendants(dialog3)">
            <nb-icon icon="plus-square-outline"></nb-icon>
          </button>
        </div>

        <div class="form-group">
          <input
            type="text"
            nbInput
            fullWidth
            placeholder="Done by"
            formControlName="done_by">
        </div>

        <div class="form-group">
          <button nbButton status="success" size="small" style="float: right;" [disabled]="submitted || !inductionEditForm.valid"
                  [class.btn-pulse]="submitted" (click)="editSafetyInduction()">submit</button>
        </div>
      </form>

    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #dialog3 let-data let-ref="dialogRef">
  <nb-card status="success" style="width: 27em;">
    <nb-card-header>Create Attendant
      <a (click)="ref.close();flush();" aria-label="Back" style="float: right;"  id="close-attendant">
        <nb-icon icon="close"></nb-icon>
      </a>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="attendantsForm">

        <div class="form-group">
          <input
            type="text"
            nbInput
            fullWidth
            placeholder="First Name"
            formControlName="firstname">
        </div>
        <div class="form-group">
          <input
            type="text"
            nbInput
            fullWidth
            placeholder="Last Name"
            formControlName="lastname">
        </div>
        <div class="form-group">
          <input
            type="number"
            nbInput
            fullWidth
            placeholder="Phone number"
            formControlName="phone_number">
        </div>
        <div class="form-group">
          <input
            type="number"
            nbInput
            fullWidth
            placeholder="ID number"
            formControlName="id_number">
        </div>


        <div class="form-group">
          <button nbButton status="success" size="small" style="float: right;" [disabled]="submitted || !attendantsForm.valid"
                  [class.btn-pulse]="submitted" (click)="createAttendants()">submit</button>
        </div>
      </form>

    </nb-card-body>
  </nb-card>
</ng-template>
