<ion-content fullscreen class="ion-padding">
  <div class="row p-2">
    <div class="col-12">
      <a href="#" (click)="back()" class="link back-link" aria-label="Back">
        <nb-icon icon="arrow-back"></nb-icon>
      </a>
    </div>
  </div>
  <ion-fab  horizontal="end" (click)="showModal()" style="bottom: 80px" slot="fixed" edge>
    <ion-fab-button >
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card *ngFor="let tbt of toolbox ; trackBy: identify" (click)="showEdit(tbt.id)">
    <ion-item>
      <ion-label>{{tbt.ticket?.ticket_code}}</ion-label>

    </ion-item>

    <ion-card-content>
      <ion-list>
        Date:{{tbt.created_at | date: 'shortDate'}}<br>
        Time:{{tbt.created_at | date: 'shortTime'}}<br>
        Ticket code:{{tbt.ticket?.ticket_code}}<br>
        Department name:{{tbt.department?.name}}<br>
        Attendants:<li *ngFor="let Item of tbt.attendants" style="display:inline-block; margin:5px;"> {{Item.firstname}}{{Item.lastname}}</li><br>
        Agenda:{{tbt.agenda}}<br>
        Done by:{{tbt.done_by}}
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

