<ion-header>
  <ion-toolbar>
    <ion-title>Edit safety induction</ion-title>
    <ion-icon name='close-circle' (click)='dismiss()' style='float: right;' size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="inductionForm">
    <div class="form-group d-flex justify-content-between">
      <ng-autocomplete [data]="Tickets" [searchKeyword]="keywordTicket" (selected)='selectedTicketID($event)'
                       (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocusedTickets($event)' [itemTemplate]="itemTemplateTickets"
                       [notFoundTemplate]="notFoundTemplate"
                       formControlName="ticket"
                       placeholder="Select ticket">
      </ng-autocomplete>

      <ng-template #itemTemplateTickets let-item>
        <a [innerHTML]="item.ticket_code"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <ion-item>
      <ion-datetime  placeholder="date" display-timezone="utc" formControlName="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Activity" formControlName="activity"></ion-input>
    </ion-item>
    <div class="form-group d-flex justify-content-between">
      <ng-autocomplete [data]="teamLead" [searchKeyword]="keywordTeamLead" (selected)='selectTeam($event)'
                       (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocusedTeam($event)' [itemTemplate]="itemTemplateTeam"
                       [notFoundTemplate]="notFoundTemplate"
                       placeholder="Team Lead" formControlName="team_lead">
      </ng-autocomplete>

      <ng-template #itemTemplateTeam let-item>
        <a [innerHTML]="item.first_name +''+ item.last_name"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <div class="form-group d-flex justify-content-between">
      <ng-autocomplete [data]="safetyOfficer" [searchKeyword]="keywordSO" (selected)='selectSO($event)'
                       (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocusedSo($event)' [itemTemplate]="itemTemplateSO"
                       [notFoundTemplate]="notFoundTemplate"
                       placeholder="Safety Officer" formControlName="safety_officer">
      </ng-autocomplete>

      <ng-template #itemTemplateSO let-item>
        <a [innerHTML]="item.first_name +''+ item.last_name"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <div class="form-group d-flex justify-content-between">
      <ng-autocomplete [data]="Locations" [searchKeyword]="keywordLoc" (selected)='selectLoc($event)'
                       (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocusedLoc($event)' [itemTemplate]="itemTemplateLoc"
                       [notFoundTemplate]="notFoundTemplate"
                       placeholder="Select location" formControlName="location">
      </ng-autocomplete>

      <ng-template #itemTemplateLoc let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <ion-item>
      <ion-label>Attendants</ion-label>
      <ion-select multiple="true" cancelText="No" okText="Okay!" formControlName="attendants" >
        <ion-select-option  *ngFor="let attend of attendants" [value]="attend.id">{{attend.firstname}} {{attend.lastname}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Done By" formControlName="done_by"></ion-input>
    </ion-item>
    <ion-fab  horizontal="end" style="bottom: 80px" slot="fixed" edge>
      <ion-fab-button>
        <ion-icon name="save" (click)="editSafetyInductions();dismiss()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>


