<section class="pass-reset-section">
  <div>
    <p id="title" class="title">Request password reset</p>

    <form
      #emailForm="ngForm"
      (ngSubmit)="submitEmail(emailForm)"
      aria-labelledby="title"
    >
      <div class="form-group">
        <input
          nbInput
          [(ngModel)]="emailForm.email"
          #email="ngModel"
          id="input-email"
          name="email"
          placeholder="Email ID"
          pattern=".+@.+\..+"
          autofocus
          fullWidth
          fieldSize="medium"
          [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="email.invalid && email.touched ? true : null"
          required
        />

        <ng-container *ngIf="email.invalid && email.touched">
          <p class="caption status-danger" *ngIf="email.errors?.required">
            Email is required!
          </p>
          <p class="caption status-danger" *ngIf="email.errors?.pattern">
            Email should be the real one!
          </p>
        </ng-container>
      </div>

      <button
        nbButton
        fullWidth
        status="info"
        size="medium"
        shape="round"
        [disabled]="submitted || !emailForm.valid"
        [class.btn-pulse]="submitted"
        class='btn-submit'
      >
        Submit
      </button>
    </form>
  </div>
</section>
