<h5 id="title" class="title">Reset password</h5>


<form #passForm="ngForm" (ngSubmit)="submitNewPass(passForm)" aria-labelledby="title">

  <div class="form-group">
    <label class="label" for="input-password">Enter new your password:</label>
    <input nbInput
           autofocus
           fullWidth
           fieldSize="small"
           [(ngModel)]="passForm.password"
           #password="ngModel"
           id="input-password"
           name="password"
           [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null"
           required
           minlength="8">
           <ng-container *ngIf="password.invalid && password.touched">
             <p class="caption status-danger" *ngIf="password.errors?.required">
               Password is required!
             </p>
             <p class="caption status-danger" *ngIf="password.errors?.minlength">
               Password must be at least 8 characters!
             </p>
           </ng-container>
  </div>

  <div class="form-group">
    <label class="label" for="input-password">Confirm password:</label>
    <input nbInput
           autofocus
           fullWidth
           fieldSize="small"
           [(ngModel)]="passForm.confirm_password"
           #confirm_password="ngModel"
           id="input-confirmPassword"
           name="confirm_password"
           [status]="confirm_password.dirty ? (confirm_password.invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="confirm_password.invalid && confirm_password.touched ? true : null"
           required
           minlength="8">
           <ng-container *ngIf="confirm_password.invalid && confirm_password.touched">
             <p class="caption status-danger" *ngIf="confirm_password.errors?.required">
               Password is required!
             </p>
             <p class="caption status-danger" *ngIf="confirm_password.errors?.mustMatch">
               Password must be similar
             </p>
           </ng-container>
  </div>
  <button nbButton fullWidth status="info" size="small"
  [disabled]="submitted || !passForm.valid"
  [class.btn-pulse]="submitted">Submit</button>
</form>
