<ion-content fullscreen class="ion-padding">
  <div class="row p-2">
    <div class="col-12">
      <a href="#" (click)="back()" class="link back-link" aria-label="Back">
        <nb-icon icon="arrow-back"></nb-icon>
      </a>
    </div>
  </div>
  <ion-fab  horizontal="end" (click)="showModal()" style="bottom: 80px" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card *ngFor="let comm of commPlans ; trackBy: identify" (click)="showEdit(comm.id)">
    <ion-item>
      <ion-label>{{comm.name}}</ion-label>

    </ion-item>

    <ion-card-content>
      <ion-list>
        Time:{{comm.date | date: 'shortTime'}}<br>
        Date:{{comm.date | date: 'shortDate'}} <br>
        Scope:{{comm.scope?.name}}<br>
        First aider:{{comm.first_aider}}
        Fire marshall:{{comm.fire_marshall}}
        Done by:{{comm.created_by?.username}}
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
